# Dockerfiles
Dockerfile linguist-detectable
*.dockerfile linguist-detectable

# docker-compose and YAML files used for Docker
docker-compose.yml linguist-detectable linguist-language=Dockerfile
docker-compose.*.yml linguist-detectable linguist-language=Dockerfile
*.yaml linguist-detectable linguist-language=Dockerfile
docker/**/*.yml linguist-detectable linguist-language=Dockerfile

# Ignore CSS
*.css linguist-vendored