services:
  audiobookshelf:
    image: ghcr.io/advplyr/audiobookshelf:latest
    container_name: audiobookshelf
    ports:
      - 13378:80
    environment:
      - TZ=${TZ}
      - PUID=1000
      - PGID=1000
    volumes:
      - ${DATAPATH}/data/audiobooks:/audiobooks
      - ${DATAPATH}/metadata:/metadata
      - ${DATAPATH}/config/audiobookshelf:/config
    restart: unless-stopped

