services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime_kuma
    restart: unless-stopped
    labels:
      - "autokuma.enabled=true"
      - "autokuma.group=monitoring"
      - "autokuma.name=Uptime Kuma"
      - "autokuma.url=http://uptimekuma:3001"
      - "autokuma.type=http"
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN=1
    ports:
      # <Host Port>:<Container Port>
      - "3001:3001"
    networks:
      - caddy
  autokuma:
    image: ghcr.io/bigboot/autokuma:latest
    container_name: autokuma
    restart: unless-stopped
    labels:
      - "autokuma.enabled=true"
      - "autokuma.group=monitoring"
      - "autokuma.name=AutoKuma"
      - "autokuma.type=docker"
    depends_on:
      - uptime-kuma
    environment:
      AUTOKUMA__KUMA__URL: http://uptime_kuma:3001
      AUTOKUMA__KUMA__USERNAME: ${KUMA_USERNAME}
      AUTOKUMA__KUMA__PASSWORD: ${KUMA_PASSWORD}
      AUTOKUMA__KUMA__CALL_TIMEOUT: 10
      AUTOKUMA__TAG_NAME: AutoKuma
      AUTOKUMA__TAG_COLOR: "#42C0FB"
      AUTOKUMA__KUMA__CONNECT_TIMEOUT: 5
      AUTOKUMA__DOCKER__HOSTS: unix:///var/run/docker.sock
      AUTOKUMA__SNIPPETS__WEB: |-
         {{container_name}}_http.http.name: {{container_name}} HTTP
         {{container_name}}_http.http.url: https://{{ args[0] }}:{{ args[1] }}
         {{container_name}}_docker.docker.name: {{container_name}} Docker
         {{container_name}}_docker.docker.docker_container: {{container_name}}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - autokuma-data:/data
    networks:
      - caddy

networks:
  caddy:
    external: true
volumes:
  autokuma-data:
