services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime_kuma
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock

    environment:
      - UPTIME_KUMA_DISABLE_FRAME_SAMEORIGIN=1
    ports:
      # <Host Port>:<Container Port>
      - "3001:3001"