services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "80:80/tcp"
      # No 443 port mapping
    environment:
      TZ: 'Asia/Kolkata'
      FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
      FTLCONF_dns_listeningMode: 'ALL'
    volumes:
      - '/server/pihole/etc-pihole:/etc/pihole'
    restart: unless-stopped
