services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    labels:
      - "autokuma.enabled=true"
      - "autokuma.group=pihole"
      - "autokuma.name=Pi-hole DNS"
      - "autokuma.url=http://localhost:80/admin"
      - "autokuma.type=http"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8081:80/tcp"
      # No 443 port mapping
    environment:
      TZ: "Asia/Kolkata"
      FTLCONF_webserver_api_password: ${PIHOLE_PASSWORD}
      FTLCONF_dns_listeningMode: "ALL"
    volumes:
      - "/server/pihole/etc-pihole:/etc/pihole"
    restart: unless-stopped
