services:
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8081:80/tcp"
      # No 443 port mapping
    environment:
      - TZ=Asia/Kolkata
      - FTLCONF_webserver_api_password=${PIHOLE_PASSWORD}
      - FTLCONF_dns_listeningMode=ALL    
      - PIHOLE_ALLOW_LOCALHOST=true
    volumes:
      - "./etc-pihole:/etc/pihole"
      - ./etc-dnsmasq.d:/etc/dnsmasq.d
    dns:
      - 1.1.1.1
      - 8.8.8.8

    restart: unless-stopped
