version: "3.9"

services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    environment:
      # HOMEPAGE_ALLOWED_HOSTS: $(LIST_OF_ALLOWED_HOSTS)
      HOMEPAGE_ALLOWED_HOSTS: '*'
      PUID: 1000                                   # Optional
      PGID: 126                                   # Optional
      WEATHERAPI_API_KEY: $(WEATHERAPI_API_KEY)
    env_file: 
      - .env
    ports:
      - "3000:3000"
    volumes:
      - ./config:/app/config                # Make sure folder exists
      - /var/run/docker.sock:/var/run/docker.sock:ro  # Optional, enables Docker widgets
    restart: unless-stopped
