version: "3"
services:
  watchtower:
    image: nickfedor/watchtower:latest
    container_name: watchtower
    restart: unless-stopped
    ports:
      - "8099:8080" 
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      #  - WATCHTOWER_LABEL_ENABLE=true
      - WATCHTOWER_SCHEDULE=0 0 4 * * *
      - WATCHTOWER_METRICS_ENABLED="true"
      - WATCHTOWER_HTTP_API_TOKEN=${TOKEN}
      - WATCHTOWER_HTTP_API_METRICS="true"
