services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    labels:
      - "autokuma.enabled=true"
      - "autokuma.group=jellyfin"
      - "autokuma.name=Jellyfin Media Server"
      - "autokuma.url=http://localhost:8096"
      - "autokuma.type=http"

    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - /path/to/config:/config
      - /path/to/cache:/cache
      - type: bind
        source: /path/to/media
        target: /media
      - type: bind
        source: /path/to/media2
        target: /media2
        read_only: true
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      - type: bind
        source: /path/to/fonts
        target: /usr/local/share/fonts/custom
        read_only: true
    restart: "unless-stopped"
