services:
  beszel:
    image: henrygd/beszel:latest
    container_name: beszel
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ./beszel_data:/beszel_data
      - ./beszel_socket:/extra-filesystems/hdd1:ro

  beszel-agent:
    image: henrygd/beszel-agent:alpine
    container_name: beszel-agent
    restart: unless-stopped
    network_mode: host
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /:/host:ro
      - /dev:/dev
      - /mnt:/extra-filesystems/mnt:ro
      - ./beszel_agent_data:/var/lib/beszel-agent
      - /usr/sbin/smartctl:/usr/sbin/smartctl

    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    environment:
      LISTEN: ${BESZEL_AGENT_LISTEN}
      KEY: ${BESZEL_AGENT_KEY}
      TOKEN: ${BESZEL_AGENT_TOKEN}
      HUB_URL: ${BESZEL_HUB_URL}
