services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:latest
    container_name: wg-easy

    environment:
      WG_HOST: ${WG_HOST}
      WG_PORT: ${WG_PORT}
      PASSWORD_HASH: ${PASSWORD_HASH}
      WG_DEFAULT_ADDRESS: ${WG_DEFAULT_ADDRESS}
      WG_DEFAULT_DNS: ${WG_DEFAULT_DNS}
      WG_ALLOWED_IPS: ${WG_ALLOWED_IPS}
      WG_POST_UP: ${WG_POST_UP}
      WG_POST_DOWN: ${WG_POST_DOWN}

    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a

    volumes:
      - ./etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro

    ports:
      - "${WG_HOST_UDP_PORT}:${WG_CONTAINER_UDP_PORT}/udp"
      - "${WG_WEB_PORT}:${WG_WEB_PORT}/tcp"

    cap_add:
      - NET_ADMIN
      - SYS_MODULE

    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1

    restart: unless-stopped

volumes:
  etc_wireguard:

networks:
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64

